In [1]:
# 01_data_cleaning.ipynb
import pandas as pd

# Load raw data
df = pd.read_csv('C:/Sales-Forecasting-Clothing-Sector/data/raw_sales_data.csv', parse_dates=['Date'])

# Rename for consistency
df.columns = ['date', 'store', 'category', 'units_sold', 'revenue']

# Basic cleaning
df.dropna(inplace=True)
df['units_sold'] = df['units_sold'].astype(int)
df['revenue'] = df['revenue'].astype(float)

# Save cleaned data
df.to_csv('../data/cleaned_sales_data.csv', index=False)

# Preview
df.head()

        date    store  category  units_sold   revenue
0 2021-01-01  Store_A  T-Shirts         195  14796.49
1 2021-01-01  Store_A     Jeans         204   4904.06
2 2021-01-01  Store_A   Jackets         204   2417.93
3 2021-01-01  Store_A   Dresses         187   4956.70
4 2021-01-01  Store_A     Shoes         192   9384.01